{% assign block_color = block.settings.background_color | default: "#fff" %}
{% assign block_text_color = block.settings.text_color %}

{% assign card_action = block.settings.card_action %}
{% assign card_target = block.settings.link_target %}
{% if card_target %}
  {% assign card_target = "_blank" %}
{% else %}
  {% assign card_target = "" %}
{% endif %}
{% assign card_image = block.settings.image | image_picker_url: 'card.jpg' %}
{% assign card_title = block.settings.title %}
{% assign card_description = block.settings.description %}
{% assign card_price = block.settings.price %}

<div class="col-md-4">
  <a href="{{ card_action }}" class="card section--{{ block_color | color_scheme_class }}" style="text-align: {{ section.settings.alignment }};background: {{ block_color }};" kjb-settings-id="{{ 'background_color' | settings_id: section: section, block: block }}" target="{{ card_target }}">
    <img class="card--img" src="{{ card_image }}"/>
    <div class="card--body">
      <h5 class="card--title" style="color:{{ block_text_color }};">{{ card_title }}</h5>
      <p class="card--description" style="color:{{ block_text_color }};">{{ card_description | strip_html }}</p>
      <h5 class="card--price" style="color:{{ block_text_color }};">{{ card_price }}</h5>
    </div>
  </a>
</div>
