<p class="multi_video--heading">
  <b kjb-settings-id="{{ kjb-Label }}" class="multi_video--label">
    {{ b-Label }}
  </b>
  <span kjb-settings-id="{{ kjb-Title }}" class="multi_video--title">
    {{ b-Title }}
  </span>
</p>
<div class="multi_video--video">
  <img src="{{ b-Img }}" class="multi_video--img" kjb-settings-id="{{ kjb-Img }}"/>
</div>
