<a href="{{ b-Action }}" target="{{ b-Target }}">
  <p class="multi_video--heading">
    <b kjb-settings-id="{{ kjb-Label }}" class="multi_video--label">
      {{ b-Label }}
    </b>
    <span kjb-settings-id="{{ kjb-Title }}" class="multi_video--title">
      {{ b-Title }}
    </span>
  </p>
  <div class="multi_video--video">
    {% if section.settings.show_icon %}
      <img src="{{ "play.png" | asset_url }}" class="multi_video--icon" kjb-settings-id="{{ 'show_icon' | settings_id: section: section }}"/>
    {% endif %}
    <img src="{{ b-Img }}" class="multi_video--img" kjb-settings-id="{{ kjb-Img }}"/>
  </div>
</a>
