{% assign p-Width      = block.settings.progress_percent | ceil %}
{% if p-Width > 100 %}
  {% assign p-Width    = 100 %}
{% endif %}
{% assign p-Background = block.settings.progress_background_color | default: settings.color_offset %}
{% assign p-Bar        = block.settings.progress_bar_color | default: settings.color_primary %}

<style>
  .block--{{ block.id }} .progress-wrapper .progress-bar {
    width: {{ p-Width }}%;
    background-color: {{ p-Bar }};
  }
  .block--{{ block.id }} .progress-wrapper .progress {
    background-color: {{ p-Background }};
  }
</style>

<div class="progress-wrapper" kjb-settings-id="{{ 'show_progress' | settings_id: section: section, block: block }}">
  <p class="progress-percent" kjb-settings-id="{{ 'progress_text' | settings_id: section: section, block: block }}">{{ p-Width }}{{ block.settings.progress_text }}</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" kjb-settings-id="{{ 'progress_percent' | settings_id: section: section, block: block }}"></div>
  </div>
</div>
