{% if f %}
  {% form f %}
    {% assign labelStyle = section.settings.style %}
    {% if labelStyle == "label" %}
      {% assign use_label = true %}
      {% assign use_placeholder = false %}
    {% else %}
      {% assign use_label = false %}
      {% assign use_placeholder = true %}
    {% endif %}
    {% assign btnId        = 'btn_text' | settings_id: section: section %}
    {% assign btnText      = section.settings.btn_text  %}
    {% assign btnColor     = section.settings.btn_background_color | default: settings.color_primary %}
    {% assign btnTextColor = section.settings.btn_text_color | default: settings.text_color_light %}
    {% assign btnStyle     = section.settings.btn_style  %}
    {% assign btnWidth     = section.settings.btn_width  %}

    <style>
      /*============================================================================
        #Individual CTA Style
      ==============================================================================*/
      .btn--{{ btnId }}.btn--solid {
        background: {{ btnColor }};
        border-color: {{ btnColor }};
        color: {{ btnTextColor }};
      }
      .btn--{{ btnId }}.btn--outline {
        border-color: {{ btnColor }};
        color: {{ btnColor }};
      }
    </style>
    <div class="pop__form" kjb-settings-id="{{ 'form' | settings_id: section: section }}">
      <input type="hidden" name="thank_you_url" value="{{ section.settings.thank_you_url }}">
      <div class="row optin optin--stacked">
        {% for field in f.fields %}
          <div class="col-md-12">
            {{ field | form_input: class: "form-group", input_class: "form-control", label: use_label, placeholder: use_placeholder }}
          </div>
        {% endfor %}
        <div class="col-md-12">
          <button class="btn btn--{{ btnId }} btn--{{ btnWidth }} btn--{{ btnStyle }} btn-form" id="form-button" type="submit" kjb-settings-id="{{ btnId }}">{{ btnText }}</button>
        </div>
      </div>
    </div>
  {% endform %}
{% else %}
  {% if editor %}
    <div class="editor-null" kjb-settings-id="{{ 'form' | settings_id: section: section }}">
      <h5>Heads up! You have not selected a form yet.</h5>
    </div>
  {% endif %}
{% endif %}
