<!-- User Dropdown Variables -->
{% assign ud-LangLibrary      =  section.settings.language_library %}
{% assign ud-LangSettings     = section.settings.language_settings | member_settings_link %}
{% assign ud-LangLogout       = section.settings.language_logout | member_logout_link %}
{% assign ud-LangLogin        = section.settings.language_login | member_login_link %}

<!-- KJB Settings Variables -->
{% assign kjb-ud-LangLibrary  = 'language_library' | settings_id: section: section %}
{% assign kjb-ud-LangSettings = 'language_settings' | settings_id: section: section %}
{% assign kjb-ud-LangLogout   = 'language_logout' | settings_id: section: section %}
{% assign kjb-ud-LangLogin    = 'language_login' | settings_id: section: section %}

{% if current_site_user %}
  <span class="user">
    <img class="user__avatar" src="{{ current_site_user | avatar_url }}"/>
    <div class="user__dropdown user__dropdown--{{ h-DropDownAutoTextColor }}">
      <a href="/library" kjb-settings-id="{{ kjb-ud-LangLibrary }}">{{ ud-LangLibrary }}</a>
      <span kjb-settings-id="{{ kjb-ud-LangSettings }}">{{ ud-LangSettings }}</span>
      <span kjb-settings-id="{{ kjb-ud-LangLogout }}">{{ ud-LangLogout }}</span>
    </div>
  </span>
{% else %}
  <span kjb-settings-id="{{ kjb-ud-LangLogin }}">{{ section.settings.language_login | member_login_link }}</span>
{% endif %}
