{% include "section_style", bgColor: "#fff", vertAlign: "middle" %}

<!-- Section Variables -->
{% if section.settings.assessment_id %}
  {% assign a-ID  = current_site.find_assessment[section.settings.assessment_id] %}
  {% assign a-URL = a-ID.url %}
{% endif %}

<!-- KJB Settings Variables -->
{% assign kjb-aID = 'assessment_id' | settings_id: section: section %}

<div class="{{ s-SplashWrapper }}">
  <div id="" class="section section--assessment section--{{ s-VertAlign }} section--{{ s-Spacing }} section--{{ s-AutoTextColor }} section--{{ s-ID }} {{ s-Splash }}" kjb-settings-id="{{ kjb-Background }}">
    <div class="container">
      {% include "section_heading" %}
      <div class="row">
        <div class="col-md-12">
          {% if a-ID != "" %}
            <div class="assessment-wrapper">
              <iframe id="assessment" src="{{ a-URL }}" frameborder="0" allowfullscreen onload="resizeAssessmentIframe(this)" kjb-settings-id="{{ kjb-aID }}"></iframe>
            </div>
          {% else %}
            {% if editor %}
              <div class="editor-null" kjb-settings-id="{{ kjb-aID }}">
                <h5>Heads up! You have not selected an assessment yet.</h5>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Assessment",
    "elements": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "assessment",
        "id": "assessment_id",
        "label": "Assessment"
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "color",
        "label": "Background Color Override",
        "id": "background_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Text Color Override",
        "id": "text_color",
        "allow_blank": true
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "default": "medium",
        "options": [
          { "label": "Extra Small", "value": "xs-small" },
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" },
          { "label": "Full Height", "value": "full" }
        ]
      }
    ],
    "presets": [
      {
        "name": "Assessment",
        "description": "Collect information from your users or test their knowledge using one of your Assessments.",
        "category": "Content"
      }
    ]
  }
{% endschema %}
