{% include "section_style", bgColor: settings.color_offset, vertAlign: "middle" %}

<div id="" class="section section--logo_list section--{{ s-VertAlign }} section--{{ s-Spacing }} section--{{ s-AutoTextColor }} section--{{ s-ID }}" kjb-settings-id="{{ kjb-Background }}">
  <div class="container">
    {% include "section_heading" %}
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-sm-2">
          {% include "logo_list_img" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Logo List",
    "blocks": [
      {
        "type": "logos",
        "name": "Logo",
        "elements": [
          {
            "type": "image_picker",
            "id": "logo_list_img",
            "label": "Image",
            "width": 400,
            "height": 400,
            "info": "Suggested dimensions: 322 × 202"
          },
          {
            "type": "action",
            "id": "img_action",
            "anchor": true,
            "label": "Image Action",
            "two_step": true,
            "default": ""
          },
          {
            "type": "checkbox",
            "id": "link_target",
            "label": "Open In New Window",
            "default": "false"
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": ""
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
        "default": ""
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "color",
        "label": "Background Color Override",
        "id": "background_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Text Color Override",
        "id": "text_color",
        "allow_blank": true
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "default": "small",
        "options": [
          { "label": "Extra Small", "value": "xs-small" },
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo List",
        "description": "A series of logos—this section is often used to feature different agencies or companies you have worked with.",
        "category": "Content",
        "blocks": [
          { "type": "logos", "settings": {
            "logo_list_img": "static_assets/default_premier/logo_1.png"
          } },
          { "type": "logos", "settings": {
            "logo_list_img": "static_assets/default_premier/logo_2.png"
          } },
          { "type": "logos", "settings": {
            "logo_list_img": "static_assets/default_premier/logo_3.png"
          } },
          { "type": "logos", "settings": {
            "logo_list_img": "static_assets/default_premier/logo_4.png"
          } },
          { "type": "logos", "settings": {
            "logo_list_img": "static_assets/default_premier/logo_5.png"
          } }
        ]
      }
    ]
  }
{% endschema %}
