{% include "section_style", bgColor: settings.color_offset, vertAlign: "middle" %}

<div class="{{ s-SplashWrapper }}">
  <div id="" class="section section--offers section--top section--{{ s-Spacing }} section--{{ s-AutoTextColor }} section--{{ s-ID }} {{ s-Splash }}" kjb-settings-id="{{ kjb-Background }}">
    <div class="container">
      {% include "section_heading" %}
      <div class="row text-xs-center">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'offer_card' %}
              {% include "offer_card" %}
            {% when 'custom_card' %}
              {% include "custom_card" %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Offers",
    "blocks": [
      {
        "type": "offer_card",
        "name": "Offer Card",
        "elements": [
          {
            "type": "header",
            "content": "Offer Card"
          },
          {
            "type": "divider"
          },
          {
            "type": "offer",
            "id": "offer_id",
            "label": "Offer"
          },
          {
            "type": "checkbox",
            "id": "link_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "header",
            "content": "Block Appearance",
            "style": "subheading"
          },
          {
            "type": "color",
            "label": "Background Color Override",
            "id": "background_color",
            "allow_blank": true
          },
          {
            "type": "color",
            "label": "Text Color Override",
            "id": "text_color",
            "allow_blank": true
          }
        ]
      },
      {
        "type": "custom_card",
        "name": "Custom Card",
        "elements": [
          {
            "type": "header",
            "content": "Custom Card"
          },
          {
            "type": "action",
            "id": "card_action",
            "label": "Card Action",
            "anchor": true,
            "two_step": true,
            "default": "http://www.kajabi.com"
          },
          {
            "type": "checkbox",
            "id": "link_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "fit": "crop",
            "width": 1280,
            "height": 720,
            "info": "Suggested dimensions: 1280 x 720"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title Goes Here"
          },
          {
            "type": "textarea",
            "label": "Description",
            "id": "description",
            "default": "Lorem ipsum dolor sit amet, do bibendum iaculis, sodales sit aenean. Posuere fermentum eleifend placerat, euismod nulla interdum, id corporis nam turpis, ipsum nibh integer nunc nam urna, ligula sit nec consequat."
          },
          {
            "type": "text",
            "id": "price",
            "label": "Price",
            "default": "$9.99"
          },
          {
            "type": "header",
            "content": "Block Appearance",
            "style": "subheading"
          },
          {
            "type": "color",
            "label": "Background Color Override",
            "id": "background_color",
            "allow_blank": true
          },
          {
            "type": "color",
            "label": "Text Color Override",
            "id": "text_color",
            "allow_blank": true
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": ""
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
        "default": ""
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "color",
        "label": "Background Color Override",
        "id": "background_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Text Color Override",
        "id": "text_color",
        "allow_blank": true
      },
      {
        "type": "radio",
        "id": "alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"},
          {"value": "right", "label": "Right"}
        ]
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "default": "medium",
        "options": [
          { "label": "Extra Small", "value": "xs-small" },
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" },
          { "label": "Full Height", "value": "full" }
        ]
      }
    ],
    "presets": [
      {
        "name": "Offers",
        "description": "Use this section to show a list of offer cards.",
        "category": "Content",
        "blocks": [
          { "type": "custom_card", "settings": { } }
        ]
      }
    ]
  }
{% endschema %}
