{% include "section_style", bgColor: "#fff", vertAlign: "middle" %}

<!-- Section Variables -->
{% assign s-Img       = section.settings.image | image_picker_url: 'text_img.png' %}
{% assign s-Text      = section.settings.text %}
{% assign s-Alignment = section.settings.alignment %}

<!-- KJB Settings Variables -->
{% assign kjb-Image   = 'image' | settings_id: section: section %}
{% assign kjb-Text    = 'text' | settings_id: section: section %}

<style>
@media (max-width: 766px) {
    .reverse {
        display: flex;
        flex-flow: wrap-reverse;
    }
}
</style>

<div class="{{ s-SplashWrapper }}">
  <div id="" class="section section--text_img section--center section--{{ s-VertAlign }} section--{{ s-Spacing }} section--{{ s-AutoTextColor }} section--{{ s-ID }} {{ s-Splash }}" kjb-settings-id="{{ kjb-Background }}">
    <div class="container">
    {% if section.settings.reverse %}
      <div class="row reverse">
      {% else %}
      <div class="row">
      {% endif %}
          {% if section.settings.position == "Right" %}
          <div class="col-md-5">
            {% include "text_img_text" %}
          </div>
          <div class="col-md-6 offset-md-1">
            {% include "text_img_img" %}
          </div>
        {% else %}
          <div class="col-md-6">
            {% include "text_img_img" %}
          </div>
          <div class="col-md-5 offset-md-1">
            {% include "text_img_text" %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text & Image Reverse",
    "blocks": [
      {
        "type": "cta",
        "name": "Call To Action",
        "elements": [
          {
            "type": "header",
            "content": "Call To Action"
          },
          {
            "type": "divider"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "CTA Text",
            "default": "CALL TO ACTION"
          },
          {
            "type": "action",
            "id": "btn_action",
            "label": "CTA Action",
            "anchor": true,
            "two_step": true,
            "default": "http://www.kajabi.com"
          },
          {
            "type": "checkbox",
            "id": "btn_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "CTA Style",
            "default": "solid",
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "CTA Size",
            "default": "med",
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "med" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "auto",
            "options": [
              { "label": "Auto", "value": "auto" },
              { "label": "Full Width", "value": "block" }
            ]
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Color",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "allow_blank": true,
            "info": "For solid buttons only"
          },
          {
            "type": "header",
            "content": "Time Reveal",
            "style": "subheading"
          },
          {
            "type": "event",
            "id": "event_id",
            "label": "Select Your Event",
            "info": "If no event is selected the button will time reveal based on page load."
          },
          {
            "type": "text",
            "id": "btn_Reveal",
            "label": "Offset",
            "info": "Must be a value greater than 0",
            "default": ""
          },
          {
            "type": "select",
            "id": "btn_offset_period",
            "label": "Offset Time Period",
            "default": "seconds",
            "options": [
              { "label": "Seconds", "value": "seconds" },
              { "label": "Minutes", "value": "minutes" },
              { "label": "Hours", "value": "hours" },
              { "label": "Days", "value": "days" }
            ]
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "rich_text",
        "label": "Text",
        "id": "text",
        "default": "<h4>Text & Image</h4><p>Pair text with an image to call out a particular feature, benefit, or product. A common best practice is to stack multiple Text & Image sections in an alternating pattern.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Suggested dimensions: 1090 × 613",
        "fit": "max",
        "width": 1500,
        "height": 1500
      },
      {
        "type": "checkbox",
        "id": "reverse",
        "label": "Reverse order on mobile",
        "default": "false",
        "info": "Reverse the stacking order on mobile devices."
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "color",
        "label": "Background Color Override",
        "id": "background_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Text Color Override",
        "id": "text_color",
        "allow_blank": true
      },
      {
        "type": "radio",
        "label": "Image Position",
        "id": "position",
        "default": "Right",
        "options": [
          { "label": "Right", "value": "Right" },
          { "label": "Left", "value": "Left" }
        ]
      },
      {
        "type": "radio",
        "id": "alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"},
          {"value": "right", "label": "Right"}
        ]
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "default": "medium",
        "options": [
          { "label": "Extra Small", "value": "xs-small" },
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" },
          { "label": "Full Height", "value": "full" }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text & Image Reverse",
        "description": "Text and Image section that will reverse order on mobile devices.",
        "category": "Content",
        "blocks": [
            { "type": "cta", "settings": { } }
        ]
      }
    ]
  }
{% endschema %}
